<div id="container">
    <select id="input" class="settings-input" value="true">
        <option is="emc-i18n-option" value="default" i18n-value="Default"></option>
        <option is="emc-i18n-option" value="custom" i18n-value="Custom"></option>
    </select>
    <emc-listselect id="selection" multiple="true">
        <option is="emc-i18n-option" value="key" i18n-value="dungeonstatetypeactive.key"></option>
        <option is="emc-i18n-option" value="bosskey" i18n-value="dungeonstatetypeactive.bosskey"></option>
        <option is="emc-i18n-option" value="silver_rupees" i18n-value="dungeonstatetypeactive.silver_rupees"></option>
        <option is="emc-i18n-option" value="map" i18n-value="dungeonstatetypeactive.map"></option>
        <option is="emc-i18n-option" value="compass" i18n-value="dungeonstatetypeactive.compass"></option>
        <option is="emc-i18n-option" value="reward" i18n-value="dungeonstatetypeactive.reward"></option>
        <option is="emc-i18n-option" value="type" i18n-value="dungeonstatetypeactive.type"></option>
        <option is="emc-i18n-option" value="hint" i18n-value="dungeonstatetypeactive.hint"></option>
    </emc-listselect>
</div>